<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  
  <body>
    <p><%=weatherDescription%></p>
    <h3>The temperature in <%=query%> is <%=temp%> degrees Celcius</h3>
    <img src=<%=img%>>
  </body>
</html>
